/*webkit-sassui-icon-badge Start*/
/*webkit-sassui-badge Start*/
/*webkit-sassui-badge End*/
/*webkit-sassui-frame-wrapper Start*/
.webkit-sassui-frame-wrapper, .test-webkit-sassui-icon-badge > .img {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.webkit-sassui-frame-wrapper > img, .test-webkit-sassui-icon-badge > .img > img {
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/*webkit-sassui-frame-wrapper End*/
/*webkit-sassui-icon-badge End*/
.test-webkit-sassui-icon-badge {
  display: inline-block;
  position: relative;
}

.test-webkit-sassui-icon-badge > .img {
  width: 48px;
  height: 48px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.test-webkit-sassui-icon-badge > .badge {
  font-size: 10px;
  display: inline-block;
  padding: 0.2em 0.4em;
  font-weight: bold;
  line-height: 1.4em;
  color: #FFF;
  border-radius: 10px;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #dd514c;
  overflow: hidden;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 2;
}
